PORT=3000

DATABASE_URL="postgresql://postgres:postgres@localhost:5434/booking?schema=public"

POSTGRES_HOST=localhost
POSTGRES_PORT=5434
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=booking

JWT_SECRET=secret
JWT_AT_EXPIRES=30m
JWT_RT_EXPIRES=30d